<app-navbar></app-navbar>
<div class="container p-5">
    <div class="row">
        <app-title [titulo]="'Director'"></app-title>
    </div>
    <div class="row">
        <div class="col-md-5 mr-3 foto_dir text-center">
            <img src="../../../assets/director/Elio_Luppichini.webp" />
            <br><br>
            <p class="fw-bolder">
                <label class="fw-bold">ELIO LUPPICHINI MELLA</label><br>
                
                Maestro internacional Kukkiwon 3ra clase<br>
                Árbitro internacional de Poomsae 2da clase<br> 
                Árbitro internacional de combate 3ra clase<br>
                Cinturon negro 6to Dan<br>
                Técnico Deportivo de Nivel Superior<br>
                Miembro comité de Poomsae Unión Panamericana de Taekwondo WT<br>
                Federación Chilena de Taekwondo<br>
                Director escuelas GangNam Chile<br>
                Presidente Asociación Deportiva Regional de Taekwondo WT GangNam<br>
            </p>
        </div>
        <div class="col-md-7 text_dir fst-italic">
           Se ha destacado por su trayectoria como albitro internacional, dentro de su carrera ha dicatdo charlas referentes al taekwondo etc etc
           Lorem ipsum dolor sit amet. Quo inventore dolorem sed laudantium recusandae nam necessitatibus rerum sed veniam optio. Ea fugit commodi qui magnam reiciendis ea maxime debitis sed galisum quis aut voluptates incidunt.
            <br><br>
           Qui doloremque perferendis et delectus nulla est odio fuga. Id iste molestiae cum eveniet omnis id autem expedita ea eveniet tempore. Et distinctio obcaecati qui vitae omnis est molestias ipsa in perspiciatis temporibus vel deserunt quia. Aut galisum cupiditate eum impedit praesentium qui doloremque praesentium aut voluptatem deserunt.
           <br><br>
           Ea eaque laboriosam est adipisci reprehenderit sit quam natus et distinctio suscipit ut dolorem nihil quo tempore vitae. Vel ratione labore aut ipsum dolorum et optio sapiente aut consequatur perferendis. Qui reiciendis vero sit accusamus velit At sunt nobis in doloribus corporis aut voluptates molestiae qui exercitationem fugiat. Et vitae asperiores 33 voluptates harum ea praesentium accusamus.
        </div>
    </div>
    <div class="row">
        <div class="accordian">
            <ul>
                <li>
                    <div class="image_title">
                        <a href="#">KungFu Panda</a>
                    </div> 
                    <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                        <img src="../../../assets/director/galeria_1.jpeg"/>
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Toy Story 2</a>
                    </div>
                    <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                        <img src="../../../assets/director/galeria_6.jpeg"/>
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Wall-E</a>
                    </div>
                    <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                        <img src="../../../assets/director/galeria_3.jpeg"/>
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Up</a>
                    </div>
                    <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                        <img src="../../../assets/director/galeria_4.jpeg"/>
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a href="#">Cars 2</a>
                    </div>
                    <a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
                        <img src="../../../assets/director/galeria_5.webp"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>
