<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo/logo2.png" width="70">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{ activeHome }}" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ activeDirector }}" href="director">Director</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{  activeAcerca }}" href="acerca">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{  activeProgramas }}" href="programas">Programas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{  activeAmigos }}" href="amigos">Amigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{  activeCalendario }}" href="calendario">Calendario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{  activeContacto}}" href="contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
