<app-navbar></app-navbar>
<div class="container p-5">
    <div class="row">
        <app-title [titulo]="'Enlaces amigos'"></app-title>
    </div>
    <div class="row">
        <div class="col-md-3 m-5">
            <div class="card" style="width: 18rem;">
                <div class="cont-img">
                    <img src="../../../assets/amigos/logo-tiger.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">Taekwondo Tiger Santiago</h6>
                  <p class="card-text text_justify">En la escuela Taekwondo Tiger Santiago, estamos preocupados por el desarrollo infantil y el crecimiento en edades de la adolecencia del practicante, con el fin de formar hombres y mujeres que prometan el crecimiento del deporte. </p>
                  <a href="https://www.taekwondotigersantiago.cl/" target="_blank" class="btn btn-primary">Visitar</a>
                </div>
              </div>
        </div>
        <div class="col-md-3 m-5">
            <div class="card" style="width: 18rem;">
                <div class="cont-img">
                    <img src="../../../assets/amigos/Logo-Ka.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body text-center">
                  <h6 class="card-title">Escuela Taekwondo Kangnam</h6>
                  <p class="card-text text_justify">En el año 1990 partió haciendo clases el maestro Mario Mandel fundador de escuelas Kangnam. 8 años después con alumnos ya consolidados y como Escuela, pasó a llamarse Escuelas Kangnam, nombre de un importante distrito de Seúl.</p>
                  <a href="https://escuelataekwondo.cl/" target="_blank" class="btn btn-primary">Visitar</a>
                </div>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
