.slider{
    width: 100%;
    position: relative
}

.bottom_parent{
    position: absolute;
    width: 100%;
    top: -2px;
    z-index: 1;
}

.bottom_parent img{
    width: 100%;
}

.carousel-item img{
    -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0% 100%);
}

